<footer class="bg-gray-800 text-white py-8 font-sans font-semibold">
  <div class="container mx-auto px-4 block">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="col-span-1">
        <h3 class="text-lg font-semibold mb-4">About Us</h3>
        <p class="text-sm">
          Whether you're a professional pentester, a security enthusiast, or
          someone looking to enhance your digital security, we offer a wide
          range of products to meet your needs. From advanced penetration
          testing kits to the latest security gadgets, we provide everything you
          need to stay ahead in the ever-evolving world of cybersecurity.
          Explore our collection and take the first step towards a more secure
          digital future.
        </p>
      </div>
      <!-- Footer Navigation -->
      <div class="col-span-1">
        <h3 class="text-lg font-semibold mb-4">Quick Links</h3>
        <ul class="text-sm space-y-2">
          <li><a href="/shop" class="hover:underline">Home</a></li>
          <li><a href="/shop" class="hover:underline">Shop</a></li>
          <li><a href="#" class="hover:underline">About Us</a></li>
          <li><a href="#" class="hover:underline">Contact</a></li>
        </ul>
      </div>
      <!-- Social Media Links -->
      <div class="col-span-1">
        <h3 class="text-lg font-semibold mb-4">Follow Us</h3>
        <div class="flex space-x-4">
          <a href="#" class="text-gray-400 hover:text-white"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="#" class="text-gray-400 hover:text-white"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="#" class="text-gray-400 hover:text-white"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="#" class="text-gray-400 hover:text-white"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="border-t border-gray-700 mt-8 pt-4 text-sm text-center">
      &copy; 2024 LaziStore. All rights reserved.
    </div>
  </div>
</footer>
